.menublock .menu {
    margin-top: 35px;}
    
.menublock .menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
    
.menublock .menu li a {
    font-size: 13pt;
}

.onHover:hover{
    background-color: #4b4b4b;
}

.hover:hover{
    background-color: #FFFFFF;
}

.zoom:hover{
    transform: scale(1.05);
}

.btnBgColor {
    outline-color: #83BAE3;
    background-color : #83BAE3; 
    color: white;   
    
}

.chooseFile{
    outline-color: #acc6da;
    background-color : #acc6da; 
    color: white;
}

input[type=file]::file-selector-button {
    border: 2px solid white;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #212529;
    color: rgb(192, 171, 80);
    transition: 0.5s ;
    
}
  
input[type=file]:hover{
    background-color: #acc6da;
    border: 2px solid #74bebd;
    color: black;
    font-weight: bolder;
}

.cont{
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    flex:1 1 auto;
}

btn-group>.btn-group:not(:first-child), .btn-group>:not(.btn-check:first-child)+.btn {
    margin-left: calc(var(--bs-border-width) * -6);
}

btn-group>.btn-group:not(:last-child), .btn-group>:not(.btn-check:last-child)+.btn {
    margin-left: calc(var(--bs-border-width) * -6);
}
/* nth-child(1) */
